<div class="container-fluid mt-5 about-style d-flex" id="aboutid">
      <div class="row">
        <div id="about-data" data-aos="flip-right">
          <h1 class="text-center main-heading">About Me</h1>
          <p class="text-center sub-heading">Who I Am</p>
        </div>
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div id="about-img" class="col-md-6 col-10 hero-text d-flex justify-content-center align-items-start flex-column" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
              <figure>
                <img src="images/image2.jpg" alt="herosection" class="float-left">
              </figure>
            </div>

            {{!-- right side --}}
            <div id="about-p" class="col-md-6 col-12 mt-5 about-text" data-aos="fade-left" data-aos-offset="350" data-aos-easing="ease-in-sine">
              <p>Impulsive towards Web Designing and Proficient in developing databases, creating user interfaces with HTML, CSS, JAVASCRIPT, NODEJS, REACTJS and also writing and testing codes, troubleshooting simple/complex issues and implementing new features based on experience.</p>
              <p>Though I am an engineering undergrad, my interests also do lie in the field of finance, branding strategy and macroeconomics.</p>
              <p>Looking forward to work on more challenging and complex problems and explore my interests in depth.</p>
            </div>
          </div>
        </div>
      </div>
    </div>