<div class="container-fluid mt-5 about-style d-flex" id="contactid">
      <div class="row">
        <div data-aos="flip-right" class="contact-content">
          <h1 class="text-center main-heading">Interested in working together?</h1>
          <p class="text-center sub-heading">Lets Talk...</p>
        </div>
        <div class="col-md-10 col-12 mx-auto">
          <div class="row">
            <div class="col-md-6 col-10 hero-text d-flex justify-content-center align-items-start flex-column" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
              <figure>
                      <div class="contact-img">
                        <img src="images/contact-us.png" alt="herosection" class="float-right">
                      </div>
                </figure>
            </div>

            {{!-- right side --}}
            <div class="col-md-6 col-12 mt-5 contact-text" data-aos="fade-left" data-aos-offset="350" data-aos-easing="ease-in-sine">
               <div class="hero-text2">
                        <h4>Thank You.. For viewing my Portfolio.</h4>
                        <h5>I really hope you've enjoyed looking at my work!</h5>
                        <p>Email: vatsaldhupelia@gmail.com</p>
                        <p>Phone: +919106781079</p>
                        <p>Jetpur, Rajkot - 360001</p>
                        <p>Gujarat, India.</p>
                        <h5>Whether you're a new business, looking to launch your brand into the market or a large established business, I'm happy to cater to your needs.</h5>
                    </div>
            </div>
          </div>
        </div>
      </div>
    </div>