<div class="container-fluid mt-5 skill-style" id="skillsid">
    <div class="row" id="skill-content">
        <div data-aos="flip-right">
            <h1 class="text-center main-heading">Skills &amp; Interests</h1>
                <p class="text-center sub-heading">What I Know &amp; What I Love</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-12 mx-auto">
            <div class="row" id="skill-rows" data-aos="zoom-out" data-aos-duration="1500">
                <div class="skill1">
                    <div class="outer">
                          <div class="inner">
                              <div id="number1">
                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number1 = document.getElementById("number1");
                        let counter1 = 0;
                        setInterval(()=>{
                            if(counter1 == 95){
                                clearInterval();
                            }
                            else{
                                counter1 += 1;
                                number1.innerHTML = counter1 + "%";
                            }
                            
                        }, 20);
                    </script>
                    <p class="text-center sub-heading">HTML</p>
                </div>
                <div class="skill2">
                    <div class="outer">
                          <div class="inner">
                              <div id="number2">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number2 = document.getElementById("number2");
                        let counter2 = 0;
                        setInterval(()=>{
                            if(counter2 == 97){
                                clearInterval();
                            }
                            else{
                                counter2 += 1;
                                number2.innerHTML = counter2 + "%";
                            }
                            
                        }, 20);
                    </script>
                    <p class="text-center sub-heading">CSS</p>
                </div>
                <div class="skill3">
                    <div class="outer">
                          <div class="inner">
                              <div id="number3">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number3 = document.getElementById("number3");
                        let counter3 = 0;
                        setInterval(()=>{
                            if(counter3== 90){
                                clearInterval();
                            }
                            else{
                                counter3 += 1;
                                number3.innerHTML = counter3 + "%";
                            }
                            
                        }, 22);
                    </script>
                    <p class="text-center sub-heading">JAVASCRIPT</p>
                </div>
                <div class="skill4">
                    <div class="outer">
                          <div class="inner">
                              <div id="number4">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number4 = document.getElementById("number4");
                        let counter4 = 0;
                        setInterval(()=>{
                            if(counter4 == 85){
                                clearInterval();
                            }
                            else{
                                counter4 += 1;
                                number4.innerHTML = counter4 + "%";
                            }
                            
                        }, 23);
                    </script>
                    <p class="text-center sub-heading">PHP</p>
                </div>
                <div class="skill5">
                    <div class="outer">
                          <div class="inner">
                              <div id="number5">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number5 = document.getElementById("number5");
                        let counter5 = 0;
                        setInterval(()=>{
                            if(counter5 == 75){
                                clearInterval();
                            }
                            else{
                                counter5 += 1;
                                number5.innerHTML = counter5 + "%";
                            }
                            
                        }, 24);
                    </script>
                    <p class="text-center sub-heading">NODEJS</p>
                </div>
                <div class="skill6">
                    <div class="outer">
                          <div class="inner">
                              <div id="number6">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number6 = document.getElementById("number6");
                        let counter6 = 0;
                        setInterval(()=>{
                            if(counter6 == 75){
                                clearInterval();
                            }
                            else{
                                counter6 += 1;
                                number6.innerHTML = counter6 + "%";
                            }
                            
                        }, 24);
                    </script>
                    <p class="text-center sub-heading">REACTJS</p>
                </div>
                <div class="skill7">
                    <div class="outer">
                          <div class="inner">
                              <div id="number7">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number7 = document.getElementById("number7");
                        let counter7 = 0;
                        setInterval(()=>{
                            if(counter7 == 75){
                                clearInterval();
                            }
                            else{
                                counter7 += 1;
                                number7.innerHTML = counter7 + "%";
                            }
                            
                        }, 24);
                    </script>
                    <p class="text-center sub-heading">MONGODB</p>
                </div>
                <div class="skill8">
                    <div class="outer">
                          <div class="inner">
                              <div id="number8">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number8 = document.getElementById("number8");
                        let counter8 = 0;
                        setInterval(()=>{
                            if(counter8 == 90){
                                clearInterval();
                            }
                            else{
                                counter8 += 1;
                                number8.innerHTML = counter8 + "%";
                            }
                            
                        }, 21);
                    </script>
                    <p class="text-center sub-heading">PYTHON</p>
                </div>
                <div class="skill9">
                    <div class="outer">
                          <div class="inner">
                              <div id="number9">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number9 = document.getElementById("number9");
                        let counter9 = 0;
                        setInterval(()=>{
                            if(counter9 == 80){
                                clearInterval();
                            }
                            else{
                                counter9 += 1;
                                number9.innerHTML = counter9 + "%";
                            }
                            
                        }, 23);
                    </script>
                    <p class="text-center sub-heading">GIT</p>
                </div>
                <div class="skill10">
                    <div class="outer">
                          <div class="inner">
                              <div id="number10">

                              </div>
                            </div>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                        <defs>
                            <linearGradient id="GradientColor">
                            <stop offset="0%" stop-color="#e91e63" />
                            <stop offset="100%" stop-color="#673ab7" />
                            </linearGradient>
                        </defs>
                        <circle cx="80" cy="80" r="70" stroke-linecap="round" />
                    </svg>
                    <script>
                        let number10 = document.getElementById("number10");
                        let counter10 = 0;
                        setInterval(()=>{
                            if(counter10 == 80){
                                clearInterval();
                            }
                            else{
                                counter10 += 1;
                                number10.innerHTML = counter10 + "%";
                            }
                            
                        }, 23);
                    </script>
                    <p class="text-center sub-heading">GITHUB</p>
                </div>
            </div>
        </div>
    </div>
</div>