<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row" id="skill-content">
        <div data-aos="flip-right">
            <h1 class="text-center main-heading">My Works</h1>
                <p class="text-center sub-heading">Projects Compeleted</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <div class="col-md-4" id="work-rows">
                    <div class="box" data-aos="fade-up" data-aos-duration="1100">
                        <div class="my-works project1">
                            <h4>Hospital Administrative Website</h4>
                            <p>Website for the Hospital Administration implemented with HTML, CSS, JAVASCRIPT and PHP with two interfaces, Doctor &amp; Patients with login, signup and forgot password functionality.</p>
                            <a href="https://github.com/Vatsal-Dhupelia/Hospital-Administrative-Website" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="work-rows">
                    <div class="box" data-aos="fade-up" data-aos-duration="1100">
                        <div class="my-works project2">
                            <h4>Real Estate Business Website</h4>
                            <p>Real-Estate Business Website implemented using HTML , CSS , JAVASCRPIT, PHP , MySQL. It includes the functionality of Buying, Selling and Renting the Real Estate.</p>
                            <a href="https://github.com/Vatsal-Dhupelia/RealEstate-Business-Website" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="work-rows">
                    <div class="box" data-aos="fade-up" data-aos-duration="1100">
                        <div class="my-works project3">
                            <h4>Weather Forecast (API)</h4>
                            <p>This is a single webpage with the weather update of a single city whose data is fetched from an API which is implemented using NodeJs and frontend with HTML, CSS and Javascript.</p>
                            <a href="https://github.com/Vatsal-Dhupelia/Weather-App-Nodejs" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="work-rows">
                    <div class="box" data-aos="fade-up" data-aos-duration="1100">
                        <div class="my-works project4">
                            <h4>Restaurant WebPage</h4>
                            <p>This is a simple basic static WebPage of a Restaurant which is implemented using HTML and CSS. Ti is a static page with no functionality It also includes the CSS code for the responsive design.</p>
                            <a href="https://github.com/Vatsal-Dhupelia/Restaurant-WebPage" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="work-rows">
                    <div class="box" data-aos="fade-up" data-aos-duration="1100">
                        <div class="my-works project5">
                            <h4>Coming Soon..</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel laudantium quo aperiam pariatur culpa ducimus mollitia qui necessitatibus optio adipisci, maiores ea ab commodi consequatur.</p>
                            <a href="https://github.com/Vatsal-Dhupelia/" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="work-rows">
                    <div class="box" data-aos="fade-up" data-aos-duration="1100">
                        <div class="my-works project6">
                            <h4>Coming Soon..</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel laudantium quo aperiam pariatur culpa ducimus mollitia qui necessitatibus optio adipisci, maiores ea ab commodi consequatur.</p>
                            <a href="https://github.com/Vatsal-Dhupelia/" class="fa fa-github"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>